<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ServerBaseUrl" value="http://localhost:3000" />
        <add key="AgentName" value="EageSoop-Agent" />
        <add key="HeartbeatIntervalMs" value="5000" />
        <add key="StatusReportIntervalMs" value="3000" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>